/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
	--header-height: 3.5rem;

	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	/* 
      Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

	--hue1: 210;
	--hue2: 14;
	--first-color: hsl(var(--hue1), 100%, 60%);
	--first-color-alt: hsl(var(--hue1), 56%, 35%);
	--second-color: hsl(var(--hue2), 100%, 65%);
	--second-color-alt: hsl(var(--hue2), 56%, 40%);
	--title-color: hsl(228, 8%, 95%);
	--text-color: hsl(228, 8%, 65%);
	--body-color: hsl(228, 15%, 20%);
	--container-color: hsl(228, 15%, 15%);

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: "Poppins", sans-serif;
	--biggest-font-size: 2rem;
	--bigger-font-size: 1.25rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Font weight ==========*/
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
	:root {
		--biggest-font-size: 4rem;
		--bigger-font-size: 2rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

/*=============== BASE ===============*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

input,
textarea,
button,
body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
}

input,
textarea,
button {
	outline: none;
	border: none;
}

h1,
h2,
h3,
h4 {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

::selection {
	background-color: var(--first-color);
	color: var(--title-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
	max-width: 1120px;
	margin-inline: 1.5rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.section {
	padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
	text-align: center;
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

.section__title {
	font-size: var(--h1-font-size);
	margin-bottom: 1.5rem;
}

.section__subtitle {
	font-size: var(--small-font-size);
	margin-bottom: 0.25rem;
}

.section__subtitle span {
	color: var(--first-color);
}

.main {
	overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
header {
	position: fixed;
	width: 100%;
	background-color: var(--container-color);
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
}

.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

.nav__logo span {
	color: var(--first-color);
}

.nav__toggle,
.nav__close {
	font-size: 1.25rem;
	color: var(--title-color);
	cursor: pointer;
}

/* Navigation for mobile devices */
/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
	.nav__menu {
		position: fixed;
		top: 0;
		right: -100%;
		background-color: hsla(0, 0%, 10%, 0.3);
		width: 75%;
		height: 100%;
		padding: 4.5rem 0 0 3rem;
		backdrop-filter: blur(24px);
		-webkit-backdrop-filter: blur(24px); /* For safari */
		transition: right 0.4s;
	}
}
/* Show menu */
.nav__list {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
}

.nav__link {
	color: var(--title-color);
	font-weight: var(--font-medium);
	transition: color 0.4s;
}

.nav__link:hover {
	color: var(--first-color);
}

.nav__close {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
}

.show-menu {
	right: 0;
}
/* Add blur to header */
.blur-header {
	border-color: transparent;
}

.blur-header::after {
	content: " ";
	position: absolute;
	width: 1000%;
	height: 100%;
	background-color: hsla(0, 0%, 10%, 0.3);
	backdrop-filter: blur(24px);
	-webkit-backdrop-filter: blur(24px); /* For safari */
	top: 0;
	left: 0;
	z-index: -1;
}
/* Active link */
.active-link {
	color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
	background-color: var(--container-color);
}

.home__container {
	padding-top: 2rem;
	row-gap: 2.5rem;
}

.home__content {
	display: grid;
	row-gap: 2rem;
}

.home__data {
	text-align: center;
}

.home__subtitle,
.home__education {
	font-size: var(—-bigger—font-size);
}

.home__subtitle span,
.home__title {
	color: var(--first-color);
}

.home__title {
	font-size: var(--biggest-font-size);
	font-weight: var(--font-semi-bold);
}

.home__description {
	margin-block: 1rem 1.5rem;
}

.home__social {
	display: flex;
	justify-content: center;
	column-gap: 1.25rem;
}

.home__social-link {
	display: flex;
	background-color: var(--first-color-alt);
	padding: 0.5rem;
	color: var(--title-color);
	font-size: 1.5rem;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: transform 0.4s;
}

.home__social-link:hover {
	transform: translateY(-0.25rem);
}

.home__image {
	justify-self: center;
}

.home__blob {
	width: 320px;
	fill: var(--first-color);
	filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}

/*=============== BUTTON ===============*/
.button {
	display: inline-block;
	background-color: var(--first-color);
	padding: 1rem 1.75rem;
	border-radius: 0.5rem;
	color: var(--title-color);
	font-weight: var(--font-medium);
	transition: box-shadow 0.4s;
}

.button:hover {
	box-shadow: 0 8px 24px hsla(var(--hue1), 100%, 40%, 0.75);
}

.secondary-button {
	position: relative;
	display: inline-block;
	font-weight: 500;
	padding: 0.15rem 0;
	background-color: transparent;
	color: var(--first-color-alt);
	border-bottom: 2.5px solid var(--first-color);
	border-radius: 0px;
}

.secondary-button::before {
	content: "";
	position: absolute;
	width: 0%;
	height: 2.5px;
	bottom: -2.5px;
	left: 0;
	background-color: var(--second-color);
	transition: width 0.4s;
}

.secondary-button:hover::before {
	width: 100%;
}

/*=============== ABOUT ===============*/
.about__container {
	row-gap: 2.5rem;
}
.about__data {
	text-align: center;
}

.about__description {
	margin-bottom: 2rem;
}
.about__image {
	justify-self: center;
}

.about__blob {
	width: 320px;
}

.about__blob path {
	stroke: var(--first-color);
}
/*=============== SKILLS ===============*/
.skills {
	background-color: var(--container-color);
}

.skills__container {
	padding-bottom: 2rem;
	row-gap: 3.5rem;
}

.skills__data {
	text-align: center;
}

.skills__description {
	margin-bottom: 2rem;
}

.skills__content,
.skills__group {
	display: grid;
}

.skills__content {
	grid-template-columns: repeat(2, max-content);
	column-gap: 4rem;
	justify-content: center;
	align-items: baseline;
}

.skills__group {
	row-gap: lrem;
	list-style: decimal-Leading-zero;
}

.skills__item {
	font-weight: var(--font-medium);
	color: var(--title-color);
}

.skills__item::marker {
	color: var(--first-color);
}

/*=============== SERVICES ===============*/
.services__container {
	row-gap: 2rem;
	padding-block: 1rem;
}

.services__card {
	text-align: center;
	background-color: var(--container-color);
	padding: 3rem 1.25rem;
	border-radius: 1rem;
	border: 2px solid var(--text-color);
	transition: border 0.25s;
}

.services__icon {
	display: block;
	font-size: 2rem;
	color: var(--first-color);
	margin-bottom: 0.75rem;
}

.services__title {
	font-size: var(--h2-font-size);
	margin-bottom: 1.5rem;
}

.services__card:hover {
	border: 2px solid var(--first-color);
	cursor: pointer;
}
/*=============== Waves ===============*/
.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 100px;
	max-height: 150px;
}

/* Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
}
/*=============== PROJECTS ===============*/

.portfolio .container {
	transition: all 0.3s ease-in-out;
}

.portfolio-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 4rem;
}

.portfolio-title {
	padding-bottom: 1rem;
}

.portfolio-title .sub-heading {
	color: var(--first-color-alt);
}

.portfolio-title .heading {
	color: black;
}

.portfolio-title .heading span {
	color: var(--first-color);
}

.filter-btn {
	display: inline-block;
	color: var(--first-color-alt);
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: 0.4px;
	margin-left: 1rem;
	font-family: inherit;
	text-transform: uppercase;
}

.portfolio-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
}

.project__card {
	border-radius: 15px;
	overflow: hidden;
	background-color: rgb(235, 235, 235);
	height: 265px;
	display: grid;
	grid-template-rows: 1fr auto;
	transition: all 0.3s ease-in-out;
}

.project__card:hover {
	/* write a box shadow for the card */
	box-shadow: 0 0px 16px rgba(0, 0, 0, 0.5);
}
.project__image {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project__image img {
	width: 100%;
	/* height: 100%;
	object-fit: cover; */
}

.project__info {
	padding: 1.1rem 1.6rem;
	display: flex;
	justify-content: space-between;
}

.project__info h3 {
	font-size: 0.95rem;
	color: var(--container-color);
	font-weight: 600;
	text-transform: capitalize;
}

.project__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	backdrop-filter: blur(2.5px);
	transition: all 0.3s ease-in-out;
}

.project__card:hover .project__overlay {
	opacity: 1;
}

.project__icon {
	font-size: 1.5rem;
	color: white;
	margin: 0 0.4rem;
	background-color: var(--first-color);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(15px);
	transition: all 0.3s ease-in-out;
}

.project__icon:hover {
	background-color: var(--first-color-alt);
	transform: translateY(0);
}

.project__card:hover .project__icon {
	transform: translateY(0);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 1000;
	pointer-events: none;
}

.modal-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
}

.slider-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% + 400px));
	width: 90%;
	max-width: 900px;
	display: grid;
	grid-template-columns: 16px 1fr 16px;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.slider-wrap img {
	width: 100%;
	display: none;
	border-radius: 10px;
	border: 2px solid white;
}

.slider-wrap img.showImage {
	display: block;
}

.navigation {
	background-color: white;
}

.portfolio.open .modal {
	pointer-events: auto;
}

.portfolio.open .modal-overlay {
	opacity: 1;
}

.portfolio.open .container {
	transform: scale(0.9);
}

.portfolio.open .slider-wrap {
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: 0.3s 0.5s;
}

body.stopScrollling {
	height: 100%;
	overflow: hidden;
}

/*=============== CONTACT ===============*/
.contact__container {
	padding-top: 1rem;
}

.contact__form,
.contact__group {
	display: grid;
	row-gap: 1rem;
}

.contact__form {
	position: relative;
}

.contact__input {
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	background-color: var(--container-color);
	color: var(--title-color);
	transition: all 0.3s;
}
.contact__input:hover::placeholder {
	color: var(--first-color);
}
.contact__input:hover {
	outline: 2px solid var(--first-color-alt);
	background-color: rgba(0, 0, 0, 0.5);
}

.contact__input:focus::placeholder {
	color: var(--first-color);
}

.contact__input:focus {
	outline: 2px solid var(--first-color-alt);
	background-color: rgba(0, 0, 0, 0.5);
}

.contact__input::placeholder {
	color: var(--text-color);
}

.contact__form textarea {
	width: 100% !important;
	height: 11rem !important;
	resize: none;
	margin-bottom: 2rem;
}

.contact__button {
	justify-self: center;
	cursor: pointer;
}

.contact__message {
	position: absolute;
	left: 0;
	bottom: 4.5rem;
	font-size: var(--small-font-size);
	color: var(--title-color);
}

/*=============== FOOTER ===============*/
.footer {
	background-color: var(--container-color);
	padding-bottom: 3.5rem 2rem;
}

.footer__container {
	row-gap: 2rem;
	text-align: center;
}

.footer__title {
	font-size: var(--h1-font-size);
	font-weight: var(--font-semi-bold);
	margin-bottom: 0.25rem;
}

.footer__title span {
	color: var(--first-color);
}

.footer__education {
	font-size: var(--normal-font-size);
}

.footer__social {
	display: flex;
	justify-content: center;
	column-gap: 1.25rem;
}

.footer__social-link {
	margin-top: 1rem;
	font-size: 1.25rem;
	background-color: var(--first-color);
	color: var(--title-color);
	padding: 0.5rem;
	display: flex;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: transform 0.4s ease-in-out;
}

.footer__social-link:hover {
	transform: translateY(-0.25rem);
}

.footer__copy {
	font-size: var(--smaller-font-size);
	color: var(--text-color);
	margin-top: 1rem;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
	width: 0.6rem;
	border-radius: 0.5rem;
	background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(228, 8%, 35%);
	border-radius: 0.5rem;
	transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(228, 8%, 45%);
}
/*=============== SCROLL UP ===============*/
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -50%;
	background-color: var(--first-color-alt);
	padding: 6px;
	display: inline—flex;
	border-radius: 2.5rem;
	color: var(--first-color);
	font-size: 1.25rem;
	box-shadow: 0 4px 12px hsla(228, 15%, 8%, 0.4);
	z-index: var(--z-tooltip);
	transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
	transform: translateY(-0.25rem);
}

.show-scroll {
	bottom: 3rem;
}
/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
	.container {
		margin-inline: 1rem;
	}
	.skills__content {
		grid-template-columns: max-content;
		row-gap: 1rem;
	}

	.services__card {
		padding-block: 1.5rem;
	}
}

/* For medium devices */
@media screen and (min-width: 576px) {
	.home__container,
	.about__container,
	.services__container,
	.skills__container {
		grid-template-columns: 360px;
		justify-content: center;
	}
}

@media screen and (min-width: 768px) {
	.nav__menu {
		width: 55%;
	}

	.home__container,
	.about__container,
	.skills__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}

	.home__data,
	.about__data,
	.skills__data,
	:is(.about__data, .skills__data) {
		text-align: initial;
	}

	.home__social {
		justify-content: initial;
	}

	.home__blob,
	.about__blob {
		width: 400px;
	}

	.about__data {
		order: 1;
	}

	.services__container {
		grid-template-columns: repeat(2, 352px);
	}
}

/* For large devices */
@media screen and (min-width: 1023px) {
	.section {
		padding-block: 7rem 2rem;
	}

	.section__subtitle {
		font-size: var(--normal-font-size);
	}

	.nav {
		height: calc(var(--header-height) + 1.5rem);
	}

	.nav__close,
	.nav__toggle {
		display: none;
	}

	.nav__list {
		flex-direction: row;
		column-gap: 2rem;
	}

	.nav__menu {
		width: initial;
	}

	.blur-header::after {
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px); /* For Safari */
	}
}

@media screen and (min-width: 1152px) {
	.container {
		margin-inline: auto;
	}

	.home__container {
		grid-template-columns: 455px 550px;
		column-gap: 7rem;
		padding-block: 2rem 3rem;
	}

	.home__blob {
		width: 550px;
	}

	.home__content {
		row-gap: 4.5rem;
	}

	.home__description {
		margin-block: 1.5rem 2.5rem;
	}

	.home__social {
		column-gap: 1.5rem;
	}

	.about__container {
		grid-template-columns: 550px 455px;
		column-gap: 4.5rem;
		padding-bottom: 1rem;
	}

	.about__blob {
		width: 550px;
	}

	.about__description {
		margin-bottom: 3rem;
	}

	.skills__container {
		grid-template-columns: 340px 425px;
		column-gap: 10rem;
		padding-bottom: 4rem;
	}

	.skills__description {
		margin-bottom: 3rem;
	}

	.skills__content {
		column-gap: 8rem;
	}

	.skills__group {
		row-gap: 1.5rem;
	}

	.skills__item {
		font-size: var(--h3-font-size);
	}

	.services__container {
		grid-template-columns: repeat(3, 352px);
		padding-block: 2.5rem 4rem;
	}

	.services__card {
		padding: 3.5rem 2rem;
	}

	.contact__container {
		padding-block: 2.5rem 2rem;
	}

	.contact__form {
		row-gap: 1.5rem;
	}

	.contact__group {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1.5rem;
	}

	.contact__input {
		padding: 1.5rem;
	}

	.contact__form textarea {
		height: 20rem;
	}

	.footer {
		padding-block: 4.5rem 4rem;
	}

	.footer__container {
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		text-align: initial;
	}

	.footer__title {
		font-size: var(--bigger-font-size);
	}

	.footer__social {
		column-gap: 1.5rem;
	}

	.footer__copy {
		margin: 0;
		justify-self: flex-end;
	}

	.scrollup {
		right: 2rem;
	}
}
